// 🔴font-family
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
$p: "Poppins", Arial, Helvetica, sans-serif;

// 🔴colors
$w: #FFF;
$b: #000;
$g: #F7F7F7;
$text-b: #303033;
$text-g: #828996;
$eden-school: #7DBCBB;