body {
    font-family: $p;
}

header {
    text-transform: uppercase;
}

header div:first-child {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

nav {
    padding-bottom: 0.8rem;
    display: flex;
    align-items: end;
}

ul {
    display: flex;
    gap: 2.7rem;
}

header div:last-child {
    color: $w;
    text-align: center;
    background: url("/public/img/bandeau.jpg") no-repeat center;
    padding: 12rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div:last-child h2 {
    font-size: 7rem;
    font-weight: 400;
}

header div:last-child p {
    font-size: 2rem;
    font-weight: 200;
}

a:hover {
    color: $eden-school;
}